<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @cargo.fecha %>
</p>

<p>
  <b>Alumno:</b>
  <%= @cargo.alumno_id %>
</p>

<p>
  <b>Tipo cargo:</b>
  <%= @cargo.tipo_cargo_id %>
</p>


<%= link_to 'Edit', edit_cargo_path(@cargo) %> |
<%= link_to 'Back', cargos_path %>
