<% @cargotipos.each do |cargotipo| %>
  <%= link_to "Alumnos de " + cargotipo.titulo, cargo_alumnos_path(cargotipo.id), :class => "btn btn-small btn-info" %>
<% end %>
<%= link_to 'Lista de Alumnos', alumnos_path, :class => "btn btn-small btn-info" %>

<h1>Alumnos de <%= @cargo.titulo %></h1>

<table class="table table-bordered table-hover table-condensed">
  <tr>
    <th>Alumno</th>
    <th>Cantidad</th>
    <% if @cargo.titulo == "Por Hora" %>
    <th></th>
    <% end %>
  </tr>

<% @alumno_costos.each do |alumno_costo| %>
  <tr>
    <td><%= alumno_costo.alumno.nombre %></td>
    <td><%= alumno_costo.cantidad %></td>
    <% if @cargo.titulo == "Por Hora" %>
      <%= form_tag(cargos_path, :method => "post") do %>
        <%= hidden_field_tag "cargotipo", @cargo.id %>
        <%= hidden_field_tag "alumno", alumno_costo.alumno_id %>
        <td><%= submit_tag "Agregar Cargo", :confirm => "¿Desea crear cargo?", :class => "btn btn-success" %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>